@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --font-inter: "Inter", sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
  @apply text-white text-base;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-list-indent li::before {
  content: "";
  margin-left: -8px;
}

details {
  overflow: hidden; /* Hide the rest of the content */
  transition: max-height 400ms ease-out; /* Animate the change */
}

details:has(input:checked) {
  max-height: 1000px; /* Set a max-height value enough to show all the content */
}
