@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --font-inter: "Inter", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
  @apply text-white text-base;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .custom-list-indent li::before {
    content: "";
    margin-left: -8px;
  }
}
/* .custom-list-indent li::before {
  content: "";
  margin-left: -8px;
}

@media (max-width: 640px) {
  .custom-list-indent li::before {
    content: "";
    margin-left: -4px;
  }
} */
