@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --font-inter: "Inter", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
  @apply text-white text-base;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  /* Hide scrollbar track, show only thumb */
  * {
    scrollbar-width: auto;
    scrollbar-color: #2b2b2b transparent;
  }

  /* For WebKit browsers (Chrome, Safari, Edge) */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-charcoal-duskActive;
    border-radius: 4px;
    border: none;
  }

  *::-webkit-scrollbar-thumb:hover {
    @apply bg-charcoal-duskActive;
  }
}
